<div class="ui container">
  <div class="ui grid">
    <div class="middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div class="ui large breadcrumb">
        <div class="active section">
          <span class="ui orange header">
            <span *ngIf="language == 'pl'">Popularne filmy</span>
            <span *ngIf="language != 'pl'">Popular movies</span>
          </span>
        </div>
      </div>
    </div>

    <div class="right aligned middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div class="ui text compact menu">
        <div class="header item">
          <span *ngIf="language == 'pl'">Sortuj wg</span>
          <span *ngIf="language != 'pl'">Sort by</span>
          </div>
        <a class="item" (click)="sortMovies('title')">
          <i class="font icon"></i>
          <span *ngIf="language == 'pl'">Tytuł</span>
          <span *ngIf="language != 'pl'">Title</span>
        </a>
        <a class="item" (click)="sortMovies('popularity')">
          <i class="empty star icon"></i>
          <span *ngIf="language == 'pl'">Popularność</span>
          <span *ngIf="language != 'pl'">Popularity</span>
        </a>
      </div>
    </div>
  </div>

  <div class="ui link five doubling cards">
    <div class="card" *ngFor="let movie of movies | async" [routerLink]="['/movie/'+movie.id]" routerLinkActive="active">
      <div class="image">
        <img *ngIf="movie.poster_path" class="ui middle aligned tiny image" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
        <img *ngIf="!movie.poster_path" class="ui middle aligned tiny image" src="https://placehold.it/500x740">
      </div>
      <div class="content">
        <div class="header">
            {{ movie.title }}
        </div>

        <div class="description">
          <span *ngIf="language == 'pl'">Popularność</span>
          <span *ngIf="language != 'pl'">Popularity</span>
          : {{ movie.popularity  | number : '1.0-1' }}
          <br>
          <span *ngIf="language == 'pl'">Liczba głosów</span>
          <span *ngIf="language != 'pl'">Vote count</span>
          : {{ movie.vote_count }}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <h3>
            <i class="star icon"></i>
            {{ movie.vote_average }}
          </h3>

        </span>
        {{ movie.release_date }}
      </div>
    </div>
  </div>
</div>
