<div class="ui container">
  <div class="ui link five doubling cards">
    <div class="card" *ngFor="let movie of movies | async" [routerLink]="['/movie/'+movie.id]" routerLinkActive="active">
      <div class="image">
        <img  class="ui middle aligned tiny image" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
      </div>
      <div class="content">
        <div class="header">
            {{ movie.title }}
        </div>

        <div class="description">
          <span *ngIf="language == 'pl'">Popularność</span>
          <span *ngIf="language != 'pl'">Popularity</span>
          : {{ movie.popularity  | number : '1.0-1' }}
          <br>
          <span *ngIf="language == 'pl'">Liczba głosów</span>
          <span *ngIf="language != 'pl'">Vote count</span>
          : {{ movie.vote_count }}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <h3>
            <i class="star icon"></i>
            {{ movie.vote_average }}
          </h3>

        </span>
        {{ movie.release_date }}
      </div>
    </div>
  </div>
</div>
