<div class="ui container">
  <h2 class="ui orange header">
    {{ selectedMovie?.title }}
    <div class="sub header">{{ selectedMovie?.original_title }}</div>
  </h2>

  <div class="ui floating message" id="main" >
    <div class="ui padded grid" id="content">
      <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
        <img *ngIf="selectedMovie?.poster_path" class="ui fluid image" src="https://image.tmdb.org/t/p/w600{{selectedMovie?.poster_path}}">
      </div>

      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui centered grid">

          <!-- gatunki -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <i *ngFor="let genre of selectedMovie?.genres" class="ui orange label">{{ genre.name }}</i>
          </div>
          <!-- -->

          <!-- opis -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span *ngIf="language == 'pl'">Opis</span>
              <span *ngIf="language != 'pl'">Overview</span>
            </div>
            {{ selectedMovie?.overview }}
          </div>
          <!-- -->

          <!-- WWW -->
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span *ngIf="language == 'pl'">Dodatkowe informacje</span>
              <span *ngIf="language != 'pl'">Additional information</span>
            </div>

            <a *ngIf="selectedMovie?.imdb_id" href="http://www.imdb.com/title/{{ selectedMovie?.imdb_id }}/">
              <i class="ui yellow label">IMDb</i>
            </a>

            <a *ngIf="selectedMovie?.homepage" href="{{ selectedMovie?.homepage }}/">
              <i class="ui label">WWW</i>
            </a>
          </div>
          <!-- -->

          <!-- statystyki -->
          <div  class="center aligned eight wide mobile eight wide tablet three wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Ocena</span>
                <span *ngIf="language != 'pl'">Vote average</span>
                </div>
              <div class="text value">{{ selectedMovie?.vote_average }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui green statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">głosów</span>
                <span *ngIf="language != 'pl'">vote count</span>
                </div>
              <div class="text value">{{ selectedMovie?.vote_count }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet four wide computer column">
            <div class="ui teal statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Popularność</span>
                <span *ngIf="language != 'pl'">Popularity</span></div>
              <div class="text value">{{ selectedMovie?.popularity | number: '1.0-2' }}</div>
            </div>
          </div>

          <div  class="center aligned eight wide mobile eight wide tablet five wide computer column">
            <div class="ui blue statistic">
              <div class="label">
                <span *ngIf="language == 'pl'">Data publikacji</span>
                <span *ngIf="language != 'pl'">Release date</span></div>
              <div class="text value">{{ selectedMovie?.release_date }}</div>
            </div>
          </div>
          <!-- -->
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui large animated fluid button" tabindex="0" (click)="back()">
        <div class="visible content">
          <i class="left arrow icon"></i>
        </div>
        <div class="hidden content">
          <span *ngIf="language == 'pl'">Wróć</span>
          <span *ngIf="language != 'pl'">Back</span>
        </div>
      </div>
    </div>
  </div>
</div>
